* {
    box-sizing: border-box;
    font-family: write;
    font-size: 20px;
}

@font-face {
    font-family: palmer;
    src: url("ttf/palmer.ttf");
}

@font-face {
    font-family: write;
    src: url("ttf/write.ttf");
}


