* {
    box-sizing: border-box;
    font-family: write;
    font-size: 20px;
}

@font-face {
    font-family: palmer;
    src: url("ttf/palmer.ttf");
}

@font-face {
    font-family: write;
    src: url("ttf/write.ttf");
}

div.datos {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    width: 50%;
}

div.datos > * {
    float: left;
}

.datos > div > input {
    width: 125px;
    
}

.res > #resultado {
    color: crimson;
    font-weight: bolder;
}
