* {
    box-sizing: border-box;
    text-align: center;
    font-family: fuente;
}

@font-face {
    font-family: fuente;
    src: url("ttf/write.ttf");
}

#resultado {
    padding: 30px;
    border: 10px solid black;
}
