* {
    box-sizing: border-box;
    font-family: aktinson;
}

@font-face {
    font-family: aktinson;
    src: url("ttf/AtkinsonRegular.ttf");
}

.cosas {
    display: flex;
    flex-flow: column nowrap;
}

.cosas > #objetos {
    width: 100%;
}

li {
    list-style-type: none;
}

#addObjeto {
    display: inline-block;
    position: fixed;
    bottom: 0;
    left: 0;
    cursor: pointer;
    margin: 40px;
    padding: 20px;
    font-weight: bolder;
    border-radius: 50%;
    background-color: rgb(151, 223, 44);
}

