* {
    box-sizing: border-box;
}

@font-face {
    font-family: aktinson;
    src: url("ttf/AtkinsonRegular.ttf");
}

.cosas {
    display: flex;
    flex-flow: column nowrap;
}

.cosas > #objetos {
    width: 100%;
}

li {
    list-style-type: none;
}